<div class="container d-none d-sm-block d-sm-none d-md-block">
    <div class="card" style="width:25rem">
        <div class="card-body">
            <form [formGroup]="formTemplate" (submit)="onUpload(formTemplate.value)">
                <div class="text-center">
                    <img [src]="imgSrc" class="img img-center img-fluid" width="350px" height="250px" (click)="fileUploader.click()">
                </div>
                <div class="form-group">
                    <label>Select file to upload</label>
                    <input type="file" accept="image/*" class="form-control btn" #fileUploader formControlName="imageUrl"
                    (change)="show($event)">
                    <div class="text-danger" *ngIf="isUploaded && formControls.imageUrl.errors?.required">This field is required.
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" formControlName="caption" placeholder="Caption">
                    <div class="text-danger" *ngIf="isUploaded && formControls.caption.errors?.required">This field is required.
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <a routerLink="/image/list" class="btn btn-primary btn-block float-right">Gallery</a>
                    </div>
                    <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-success btn-block float-right">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Mobile devices-->
<div class="container d-block d-sm-none d-none d-sm-block d-md-none">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="formTemplate" (submit)="onUpload(formTemplate.value)">
                <div class="text-center">
                    <img [src]="imgSrc" class="img img-center img-fluid" width="350px" height="250px" (click)="fileUploader.click()">
                </div>
                <div class="form-group">
                    <label>Select file to upload</label>
                    <input type="file" accept="image/*" class="form-control btn" #fileUploader formControlName="imageUrl"
                    (change)="show($event)">
                    <div class="text-danger" *ngIf="isUploaded && formControls.imageUrl.errors?.required">This field is required.
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" formControlName="caption" placeholder="Caption">
                    <div class="text-danger" *ngIf="isUploaded && formControls.caption.errors?.required">This field is required.
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <a routerLink="/image/list" class="btn btn-primary btn-block float-right">Gallery</a>
                    </div>
                    <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-success btn-block float-right">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>